* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: #f0ebe3;
}
.nav-bar {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3d0d7;
  box-shadow: 0 2px 4px rgba(243, 208, 215, 1);
}

.logo {
  margin: 20px;
  margin-left: 30px;
}

#logo-text {
  font-size: 2rem;
  text-align: center;
}
.search {
  display: flex;
}
#search-input {
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.4 rem;
}
#search-button {
  max-width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.4 rem;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 5px;
}
.result {
  height: 60px;
  width: 100vw;
  background-image: linear-gradient(
    180.7deg,
    rgba(243, 208, 215, 1) 2.5%,
    #f0ebe3 97.7%
  );
}
.result p {
  font-size: 1.3rem;
  margin-left: 30px;
}
#image-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-card {
  height: 450px;
  width: 25%;
  margin: 10px;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.image-card:hover {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.image-card img {
  height: 80%;
  border: 1px solid black;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.image-card p {
  margin-top: 20px;
  text-align: center;
  color: #141414;
  font-size: 1.3rem;
  font-weight: 500;
  overflow: hidden;
  padding: 10px;
}
.image-card button {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: inherit;
  color: white;
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 1.5rem;
}

.image-card {
  position: relative;
}

.image-card img {
  transition: filter 0.5s ease;
}

.image-card:hover img {
  filter: blur(3px);
}

.image-card button {
  position: absolute;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.6s ease;
}

.image-card:hover button {
  opacity: 1;
}
/* css for show more */
.next {
  width: 100vw;
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}
#show-more {
  padding: 10px;
  max-width: 200px;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-bottom: 50px;
  border: 1px solid grey;
}

#show-more:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
 @media screen and (max-width: 700px){
  #image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-card {
    height: 400px;
    width: 85%;
    margin: 30px;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

 }